.body1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 6px;
}

.form-container{
    
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;   
}
.hd{
    text-align: left;
}
 
.box{
    position: relative;
    font-size: 1.2em; 
    
     
}

.bx{
    width: 300px;
    border-radius: 50px;

}

/* #err3{
    position: absolute;
    
    color: black;
    font-size: 15px;
    display: none;
} */

#head{
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.div2{
    width: 300px;
}
.last{
    font-size: small;
    
}
